<div id="form_attachment" class="Container w-full mx-auto mt-16">
  <div class="HeaderContainer mb-8">
    <h2 class="ContainerHeaderText">Editing Lead Note</h1>
  </div>
  <div class="space-y-6 mt-8;">
    <%= render "form", pipeline: @pipeline, lead: @lead, leadnote: @note %>
  </div>  
</div>
