<div id="edit<%= dom_id(@comment)%>">
  <% content_for :title, "Editing comment" %>
  <h1>Editing comment</h1>
  <%= render "form", comment: @comment, calendar: @calendar, post: @post %>
  <br>
  <div>
    <%= link_to "Back to post", calendar_post_path(@calendar,@post) %>
  </div>
</div>
