<div id="edit<%= dom_id(@comment)%>">
  <div id="form_post" class="Container w-full mx-auto mt-16">
    <div class="HeaderContainer mb-8">
      <h2 class="ContainerHeaderText">Edit Comment</h2>
    </div>
    <div class="space-y-6 mt-8;">
      <%= render "editform", comment: @comment, calendar: @calendar, post: @post %>
    </div>
  </div>
</div> 
