<div id="form_perspective">
  <div>
    <%= form.label :copy, "Default Copy", class: "PostLabel" %>
    <%= form.text_area :copy, class: "TextArea h-40 mb-4", placeholder: "Write your copy here..." %>
  </div>
</div>

