<div class="flex items-center justify-center min-h-screen">    
  <div class="Container w-full mx-auto mt-16">
    <div class="HeaderContainer mb-8">
      <h1 class="ContainerHeaderText">Edit pipe attribute</h1>
    </div>

    <%= render "form", pipeline:@pipeline,  pipeattribute: @pipeattribute %>

    <%= link_to "Back to pipeline", pipeline_path(@pipeline), class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>