<% content_for :title, "Editing attachment counters" %>

<h1>Editing attachment counters</h1>

<%= render "form",attachmentcounter: @attachmentcounter, attachment: @attachment ,perspective: @perspective, calendar: @calendar, post: @post%>

<br>

<div>
  <%= link_to "Back to post", calendar_post_path(@calendar,@post) %>
  <%= link_to "Back to prespective", calendar_post_perspective_path(@calendar,@post,@perspective) %>
  <%= link_to "Back to attachment", calendar_post_perspective_attachment_path(@calendar,@post,@perspective,@attachment) %>
</div>