<%= form_with model: [ :dashboard, organization, Team.new] do |form|%>
    New Team
    <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name %>
    </div>
    <%= form.submit %>
<% end %>