<h2>Teams</h2>

<%= render "dashboard/teams/new" , organization: organization, team: team %>

<table>
  <thead>
    <th>Name</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <% organization.teams.each do |team| %>
      <% if team.id.present? %>
        <tr>
          <td><%= team.name %></td>
          <td>
            <%= link_to 'Delete', dashboard_organization_team_path(organization,team), method: :delete, data: {turbo_method: :delete,  turbo_confirm: "Are you sure you want to delete the team " + team.name + " ?" } %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
