<% content_for :title, "Editing organization" %>

<h1>Editing organization</h1>

<%= render "form", organization: @organization %>

<br>

<div>
  <%= link_to "Show this organization", dashboard_organization_path(@organization) %> |
  <%= link_to "Back to Dashboard", dashboard_path %>
</div>
