<div id="<%= dom_id(attachment) %>">
  <h3>Attachement <%= attachment.id %>:</h3>
  <p><strong>Filename:</strong> <%= attachment.filename %></p>
  <p><strong>Status:</strong> <%= attachment.status %></p>
</div>
