<div id="attachment_form">
  <%= form_with(model: [calendar, post, perspective, attachment], local: true) do |form| %>
    <div class="mb-4">
      <%= form.text_field :filename, class: "InputField", placeholder: "New Calendar Name"  %>
    </div>
    <div class="Bottom-right mb-4">
      <%= button_tag "Cancel", type: "reset", class: "Btn-secondary" %> 
      <%= form.submit "Submit", class: "Btn-primary ml-2" %>
    </div>
  <% end %>
</div>