<div id="form_attachment_file">
  <h3 class="GenericFormLabel">Alternatively you can provide a file.</h3>
  <div class="field">
    <%= form_with(model: [calendar, post, perspective, @attachment], local: true, html: { multipart: true, id: 'file_form' }) do |form| %>
      
      <div class="file-select-container" style="display: flex; align-items: center;">
        <label for="file_input" class="FileSelectButton" style="margin-right: 10px;">Choose a file</label>
        <span id="file-chosen" class="SmallText">No file chosen</span>
        <%= form.file_field :content, class: "hidden", id: "file_input", accept: "image/*" %>
      </div>

      <div class="Bottom-right">
        <%= link_to 'Cancel', 'javascript:void(0)', class: "Btn-secondary", id: "cancel_link_file" %>
        <%= form.submit "Save", class: "Btn-primary ml-2" %>
      </div>
    <% end %>
  </div>
</div>

<!-- Script to update chosen file text -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('#file_input').on('change', function() {
      var fileName = this.files[0] ? this.files[0].name : 'No file chosen';
      $('#file-chosen').text(fileName);
    });

    $('#cancel_link_file').on('click', function() {
      $('#file_form')[0].reset();
      $('#file-chosen').text('No file chosen'); // Reset text to default
    });
  });
</script>
