<div id="<%= dom_id pipeline %>">
  <div class="flex items-center justify-center space-x-4 mb-4 w-full">
    <p class="w-full md:w-1/2">
      <label class="GenericFormLabel">Name:</label>
      <input class="InputFieldReadOnly text-gray-900" type="text" value="<%= pipeline.name %>" readonly>
    </p>

    <p class="w-full md:w-1/2">
      <label class="GenericFormLabel">Origin:</label>
      <input class="InputFieldReadOnly text-gray-900" type="text" value="<%= pipeline.to_people ? "People" : "Companies" %>" readonly>
    </p>
  </div>  
</div>
