<div id="<%= dom_id pipeline %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= pipeline.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">To People:</strong>
    <%= pipeline.to_people %>
  </p>
</div>
