<div class="flex items-center justify-center min-h-screen">    
  <div class="Container w-full mx-auto mt-16">
    <div class="HeaderContainer mb-8">
      <h1 class="ContainerHeaderText">Editing pipeline</h1>
    </div>
    <%= render "form", pipeline: @pipeline %>
  </div>
</div>