<div id="calendar_form">
  <%= form_with(model: calendar) do |form| %>
    <div class="mb-4">
      <%= form.text_field :name, class: "InputField", placeholder: "New Calendar Name"  %>
    </div>
    <div class="Bottom-right mb-4">
      <%= link_to "Cancel", 'javascript:history.back()', class: "Btn-secondary" %>
      <%= form.submit "Submit", class: "Btn-primary ml-2" %>
    </div>
  <% end %>
</div>