<div id="calendars_page" class="p-4 flex flex-col w-full">
  <div class="Container min-w-full text-gray-600" id="filter">
    <%= render "filter" %>
  </div>

  <div class="w-full p-4">
    <%= render "calendar" %>
  </div>
</div>
