<div id="calendars_page">
  <p style="color: green"><%= notice %></p>

  <% content_for :title, "Calendars" %>
  <%= render "calendars", calendars: @calendars %>
  <%= render "posts", calendars: @calendars %>
</div>