<%= form_with(model: [pipeline,stage], class: "contents") do |form| %>
  <div class="mb-4">
    <label class="GenericFormLabel">Name:</label>
    <%= form.text_field :name, class: "InputField" %>
  </div>
  <div class="Bottom-right">
      <%= form.submit class: "Btn-primary" %>
  </div>
<% end %>
