<%= form_with(model: [pipeline,stage], class: "contents") do |form| %>
  <div class="mb-4">
    <label class="GenericFormLabel">Name:</label>
    <%= form.text_field :name, class: "InputField" %>
  </div>
  <div class="Bottom-right">
    <%= button_tag "Cancel", type: "reset", class: "Btn-secondary" %>
    <%= form.submit class: "Btn-primary ml-2" %>
  </div>
<% end %>
