<h3>Attachment Counter</h3>

<ul>
  <% attachment.attachmentcounters.each do |counter| %>
    <li>
      <strong>User:</strong> <%= counter.user.email %><br>
      <strong>Aproved:</strong> <%= counter.aproved ? "Yes" : "No" %><br>
      <strong>Rejected:</strong> <%= counter.rejected ? "Yes" : "No" %><br>
      <strong>Created At:</strong> <%= counter.created_at.strftime("%B %d, %Y %I:%M %p") %><br>
    </li>
  <% end %>
</ul>
