<div class="mb-4 text-gray-900 grid grid-cols-1 md:grid-cols-3 gap-3">
  <div class="flex items-center">
    <span class="font-medium">Publish Date:</span>
    <span class="ml-2"><%= @post.publish_date.strftime("%d/%m/%Y %H:%M") %></span>
  </div>
  <div class="flex items-center">
    <p class="font-medium">Creator:</p>
    <span class="ml-2"><%= @post.user.email %></span>
  </div>
  <div class="flex items-center justify-self-end">
    <p class="font-medium">Calendar:</p>
    <span class="ml-2"><%= @post.calendar.name %></span>
  </div>
</div>