<div id="edit_<%= dom_id(@post)%>">
  <% content_for :title, "Editing post" %>
  <h1>Editing post</h1>
  <%= render "form", post: @post, calendar: @calendar, is_new: false %>
  <br>
  <div>
    <%= link_to "Show this post", calendar_post_path(@calendar,@post) %>
  </div>
</div>