<div id="edit_<%= dom_id(@post)%>">
  <% content_for :title, "Editing post" %>
  <div id="form_post" class="Container max-w-md w-full mx-auto mt-16">
    <div class="HeaderContainer mb-8">
      <h2 class="ContainerHeaderText">Edit Post</h2>
    </div>
    <div class="space-y-6 mt-8;">
      <%= render "form", post: @post, calendar: @calendar, is_new: false %>
   </div>
  </div>
</div>  