<div id="new_post">
  <% content_for :title, "New post" %>
  <div class="PostHeading">
    Create a new Post
    </div>
    <%= render "form", post: @post, calendar: @calendar, is_new: true %>
</div>
