.calendar-heading {
  display: none;
}

.posts-container {
  max-height: 6rem;
}

.calendar-box {
  height: 150px;
  width: 100%;
  box-sizing: border-box;
  border-width: 0;
}

.table {
  table-layout: fixed;
}

.simple-calendar th,
.simple-calendar td,
.simple-calendar table {
  border-width: 0 !important;
}