<div class="Container max-w-md w-full mx-auto mt-16">
  <div class="HeaderContainer mb-8">
    <h1 class="ContainerHeaderText">Edit email</h1>
  </div>
  <%= render "formedit", person:@person, email: @email %>
</div>
